<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
	</head>
	<body style="margin:0; padding:0; background-color:#F2F2F2;">
		<center>
			<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F2F2F2">
				<tr>
					<td height="40" style="font-size:40px; line-height:40px;"></td>
				</tr>
				<tr>
					<td align="center" valign="top">
						<table width="600" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
							<tr>
								<td width="100%" class="mobile" align="center" valign="top">
									<img src="https://portal.fortifid.com/assets/images/logo-color-full-small.png" style="margin-top: 40px; width: auto; height: 45px;">
								</td>
							</tr>
							<tr>
								<td height="70" style="font-size: 70px; line-height: 70px;"></td>
							</tr>
							<tr>
								<td width="100%" class="mobile" align="center" valign="top">
									<p style="margin: 0; padding: 15px; font-size: 26px; font-weight: bold;">Verification Steps</p>
									<p style="margin: 0; padding-top: 10px; padding-left: 20px; padding-right: 20px;">Fortifid has sent you a link to complete the verification step for Direct ID.</p>
									<p style="margin: 0; padding-top: 40px; padding-left: 20px; padding-right: 20px; color: #4381CC">
										<a href="%LINK%" target="_blank">
											<button style="width: auto; cursor: pointer; height: auto; padding-top: 10px; padding-bottom: 10px; padding-right: 26px; padding-left: 26px; margin: 0; border: none; background-color: #00BA3F; border-radius: 4px; color: #ffffff; font-weight: bold; font-size: 13px; text-transform: uppercase; cursor: pointer;">CLICK HERE</button>
										</a>
									</p>
								</td>
							</tr>
							<tr>
								<td height="80" style="font-size: 80px; line-height: 80px;"></td>
							</tr>
							<tr>
								<td width="100%" class="mobile" align="center" valign="top">
									<p style="margin: 0; padding-top: 10px; padding-left: 20px; padding-right: 20px; font-size: 14px;">NEED HELP OR HAVE QUESTIONS?</p>
								</td>
							</tr>
							<tr>
								<td height="10" style="font-size: 10px; line-height: 10px;"></td>
							</tr>
							<tr>
								<td width="100%" class="mobile" align="center" valign="top">
									<a href="https://fortifid.com/contact" target="_blank">
										<button style="width: auto; height: auto; padding-top: 10px; padding-bottom: 10px; padding-right: 26px; padding-left: 26px; margin: 0; border: none; background-color: #00BA3F; border-radius: 4px; color: #ffffff; font-weight: bold; font-size: 13px; text-transform: uppercase; cursor: pointer;">CONTACT US</button>
									</a>
								</td>
							</tr>
							<tr>
								<td height="40" style="font-size: 40px; line-height: 40px;"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" valign="top">
						<table width="550" cellpadding="0" cellspacing="0" border="0" bgcolor="#f2f2f2">
							<tr>
								<td height="30" style="font-size: 30px; line-height: 30px;"></td>
							</tr>
							<tr>
								<td width="100%" class="mobile" align="left" valign="top">
									<p style="margin: 0; padding-left: 20px; padding-right: 20px; font-size: 13px; color: #444444; font-weight: bold;">
										Important Information from FortifID
									</p>
								</td>
							</tr>
							<tr>
								<td height="10" style="font-size: 10px; line-height: 10px;"></td>
							</tr>
							<tr>
								<td width="100%" class="mobile" align="left" valign="top">
									<p style="margin: 0; padding-left: 20px; padding-right: 20px; font-size: 11px; color: #444444;">
										<a href="https://fortifid.com/contact" target="_blank" style="color: #505050; text-decoration: none;">
											Contact Us
										</a>
										<span style="font-weight: bold; margin-left: 10px; margin-right: 10px;">|</span>
										<a href="https://fortifid.com/privacypolicy" target="_blank" style="color: #505050; text-decoration: none;">
											Privacy Policy
										</a>
										<span style="font-weight: bold; margin-left: 10px; margin-right: 10px;">|</span>
										<a href="https://fortifid.com/" target="_blank" style="color: #505050; text-decoration: none;">
											Visit FortifID
										</a>
									</p>
								</td>
							</tr>
							<tr>
								<td height="20" style="font-size: 20px; line-height: 20px;"></td>
							</tr>
							<tr>
								<td width="100%" class="mobile" align="left" valign="top">
									<p style="margin: 0; padding-left: 20px; padding-right: 20px; font-size: 11px; color: #444444;">
										To ensure that you'll receive emails from us, please add support@fortifid.com to your address book.
									</p>
								</td>
							</tr>
							<tr>
								<td height="20" style="font-size: 20px; line-height: 20px;"></td>
							</tr>
							<tr>
								<td width="100%" class="mobile" align="left" valign="top">
									<p style="margin: 0; padding-left: 20px; padding-right: 20px; font-size: 11px; color: #444444;">
										This email was sent to %EMAIL% and contains information directly related to your account with us, other services to which you have subscribed and/or any application you may have submitted.
									</p>
								</td>
							</tr>
							<tr>
								<td height="20" style="font-size: 20px; line-height: 20px;"></td>
							</tr>
							<tr>
								<td width="100%" class="mobile" align="left" valign="top">
									<p style="margin: 0; padding-left: 20px; padding-right: 20px; font-size: 11px; color: #444444;">
										This site may be unavailable during normal maintenance or due to unforseen circumstances.
									</p>
								</td>
							</tr>
							<tr>
								<td height="20" style="font-size: 20px; line-height: 20px;"></td>
							</tr>
							<tr>
								<td width="100%" class="mobile" align="left" valign="top">
									<p style="margin: 0; padding-left: 20px; padding-right: 20px; font-size: 11px; color: #444444;">
										This is an automated email. Please do not reply to the message. To <a href="https://fortifid.com/contact" target="_blank">contact us</a>, visit <a href="https://fortifid.com/contact" target="_blank">www.fortified.com/contact</a>
									</p>
								</td>
							</tr>
							<tr>
								<td height="20" style="font-size: 20px; line-height: 20px;"></td>
							</tr>
							<tr>
								<td width="100%" class="mobile" align="left" valign="top">
									<p style="margin: 0; padding-left: 20px; padding-right: 20px; font-size: 11px; color: #444444;">
										&copy; 2020 FortifID Inc.
									</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</center>
	</body>
</html>
